<p style='font-weight: bold'>Bạn có đặt lịch khám sức khỏe tại Mediplus</p>
<p>Họ và tên: {{name}}</p>
<p>Bác sĩ: {{doctorName}}</p>
<p>Ngày: {{date}}</p>
<p>Giờ: {{time}}</p>
<p>Địa chỉ: Bệnh viện Mediplus</p>